@charset "UTF-8";
@import url("https://fonts.cdnfonts.com/css/domaine-display-narrow");
@font-face {
  font-family: "Equitan Sans Extra Light";
  src: url("./fonts/Equitan-Sans/EquitanSans-Thin.otf");
  weight: 100;
}
@font-face {
  font-family: "Equitan Sans Regular";
  src: url("./fonts/Equitan-Sans/EquitanSans-Regular.otf");
  weight: 400;
}
@font-face {
  font-family: "Equitan Sans Semibold";
  src: url("./fonts/Equitan-Sans/EquitanSans-SemiBold.otf");
  weight: 600;
}
* {
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: never;
}

html,
body,
:root {
  padding: 0;
  margin: 0;
  font-size: 10px;
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background-color: #73974a;
}

p,
a {
  font-family: "Equitan Sans Regular";
  font-size: 2.4rem;
}

p {
  color: #e9e9e9;
  line-height: 121%;
  letter-spacing: 0.01em;
  font-weight: 200;
}

h1 {
  color: #e9e9e9;
  font-family: "Domaine Display Narrow", sans-serif;
  font-size: 11rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
h1 span {
  font-family: "Domaine Display Narrow Regular";
  font-size: 11rem;
}

h2 {
  color: #e9e9e9;
  font-family: EquitanSans-Regular;
  font-size: 5.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.52px;
}

section {
  min-height: 100vh;
}

#hero {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-left: 95px;
}
#hero .hero-text {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}
#hero .hero-text h1 {
  font-family: EquitanSans-Regular;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.814px;
  font-size: 81px;
  color: #e9e9e9;
  max-width: 600px;
  margin-bottom: 30px;
}
#hero .hero-text p {
  font-family: EquitanSans-Regular;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 29px; /* 120.833% */
  letter-spacing: 0.24px;
  max-width: 600px;
}
#hero nav {
  display: flex;
  padding: 65px 140px 0 0;
  justify-content: space-between;
}
#hero nav img.logo {
  height: fit-content;
  display: inline-block;
}
#hero nav ul {
  display: flex;
  flex-direction: row;
  list-style: none;
}
#hero nav ul li {
  margin-right: 30px;
}
#hero nav ul li a {
  font-family: "Equitan Sans Extra Light";
  color: #e9e9e9;
  text-decoration: none;
  opacity: 1;
}
#hero nav ul li a:hover {
  opacity: 0.5;
  transition: opacity 200ms;
}
#hero img.background {
  width: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -100;
}
#hero img.landscape {
  height: 100vh;
  object-fit: cover;
}

.half {
  display: flex;
  flex: 1;
  max-width: 50%;
}

#about {
  padding-left: 12rem;
  display: flex;
  flex-direction: row;
}
#about .half {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#about .half h1 {
  margin: 0;
  font-size: 11rem;
  line-height: 110px;
  color: #e9e9e9;
}
#about .half h2 {
  margin-bottom: 3.2rem;
  font-size: 5.2rem;
  line-height: 52px;
  color: #e9e9e9;
}
#about .half p {
  margin-bottom: 3.2rem;
  max-width: 60rem;
}
#about .half a {
  color: #e9e9e9;
  text-decoration: none;
  font-family: EquitanSans-Regular;
  font-size: 31px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.31px;
}
#about .half a svg {
  margin-right: 1.6rem;
}
#about .half:has(.portrait) {
  align-items: center;
}
#about .half:has(.portrait) .portrait {
  filter: drop-shadow(0px 2px 71px rgba(49, 56, 38, 0.2));
}

#shiatsu {
  padding: 0 10.6rem 0 12rem;
  display: flex;
  flex-direction: column;
}
#shiatsu h1 {
  margin-bottom: 8.1rem;
  font-size: 11rem;
  line-height: 110px;
  color: #e9e9e9;
}
#shiatsu .row {
  display: flex;
  flex-direction: row;
}
#shiatsu .row img {
  box-shadow: 0px 2px 71px rgba(49, 56, 38, 0.2);
  max-width: 387px;
  max-height: 214px;
}
#shiatsu .row :first-child:is(p) {
  margin-right: 13.5rem;
  margin-bottom: 5rem;
}
#shiatsu .row :first-child:is(img) {
  margin-right: 11.8rem;
}
#shiatsu .three-cols {
  display: flex;
  align-items: center;
  min-height: 100vh;
  margin-top: 10rem;
  width: 100%;
}
#shiatsu .three-cols .col {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 90vh;
}
#shiatsu .three-cols .col h3 {
  margin-top: 3.2rem;
  color: #e9e9e9;
  font-family: "Domaine Display Narrow";
  font-size: 55px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  height: 2lh;
  margin-bottom: 3.2rem;
}
#shiatsu .three-cols .col p {
  flex: 1;
  color: #e9e9e9;
  font-family: EquitanSans-Regular;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 29px; /* 120.833% */
  letter-spacing: 0.24px;
}
#shiatsu .three-cols .col img {
  margin-bottom: 3.2rem;
}
#shiatsu .three-cols .col:nth-child(2) {
  margin: 0 1.6rem;
  padding: 0 1.6rem;
  border-left: 2px solid #e9e9e9;
  border-right: 2px solid #e9e9e9;
}

#kinesiologie {
  display: flex;
  padding: 0 10.6rem 0 12rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#kinesiologie h1 {
  margin-bottom: 8.1rem;
  font-size: 11rem;
  line-height: 110px;
  color: #e9e9e9;
}
#kinesiologie .col {
  display: flex;
  flex-direction: column;
  flex: 3;
  margin-right: 6rem;
}
#kinesiologie .col h2 {
  margin-bottom: 0.8rem;
}
#kinesiologie .row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
#kinesiologie .row img {
  box-shadow: 0px 2px 71px rgba(49, 56, 38, 0.2);
  flex: 2;
}
#kinesiologie .row :first-child:is(p) {
  margin-right: 13.5rem;
  margin-bottom: 5rem;
}
#kinesiologie .row :first-child:is(img) {
  margin-right: 11.8rem;
}

#preise h1 {
  margin: 15rem 0 7rem 12rem;
  font-size: 11rem;
  line-height: 110px;
  color: #e9e9e9;
}
#preise span {
  font-family: "Domaine Display Narrow";
  font-size: 3.9rem;
  letter-spacing: 0.01em;
  display: flex;
  align-items: center;
  color: #e9e9e9;
}
#preise span::before {
  content: "";
  display: inline-flex;
  width: 96px;
  height: 2px;
  margin-right: 2.4rem;
  background-color: #e9e9e9;
}
#preise span::after {
  content: "";
  display: inline-flex;
  flex: 1;
  height: 2px;
  margin-left: 2.4rem;
  background-color: #e9e9e9;
}
#preise .form-row {
  width: 100%;
  padding: 0 12rem;
  display: flex;
  flex-direction: row;
}
#preise .form-row .form-group {
  display: flex;
  flex-direction: column;
  margin-top: 3.2rem;
  margin-bottom: 7rem;
}
#preise .form-row .form-group label {
  color: #e9e9e9;
  font-family: "EquitanSans-Regular";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  margin-bottom: 0.8rem;
}
#preise .form-row .form-group select,
#preise .form-row .form-group input {
  padding: 1.2rem 2.4rem 1.2rem 2.4rem;
  border: none;
  border-radius: 8px;
  font-family: "EquitanSans-Regular";
  font-style: normal;
  font-weight: 400;
  font-size: 2.4rem;
  line-height: 26px;
  font-feature-settings: "pnum" on, "lnum" on;
  margin-right: 2rem;
}
#preise .form-row .form-group input:not(.active) {
  color: #8bab54;
  border: 2px solid #8bab54;
  background: none;
}
#preise .form-row .form-group select,
#preise .form-row .form-group input.active {
  color: #e9e9e9;
  background: #8bab54;
}
#preise .form-row .form-group select {
  appearance: none;
  background-image: url("assets/menu_list.png");
  background-repeat: no-repeat;
  background-position: 0;
  background-position-x: calc(100% - 2.4rem);
  background-size: 16px;
}
#preise .form-row .form-group.row {
  flex-direction: row;
}

#tierverständnis {
  margin: 10rem 12rem 0 12rem;
  display: flex;
  flex-direction: column;
}
#tierverständnis h1 {
  margin-bottom: 8.1rem;
}
#tierverständnis .row {
  max-width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 30rem;
}
#tierverständnis .row p {
  max-width: 80rem;
}
#tierverständnis .row img.masked {
  max-height: 120%;
  object-fit: contain;
  filter: drop-shadow(0px 2px 71px rgba(49, 56, 38, 0.2));
  margin-bottom: 6.4rem;
}
#tierverständnis .row img:not(.masked) {
  box-shadow: 0px 2px 71px rgba(49, 56, 38, 0.2);
  max-width: 387px;
  max-height: 214px;
}
#tierverständnis .row :first-child:is(p) {
  margin-right: 6.4rem;
  margin-bottom: 5rem;
}
#tierverständnis .row:first-of-type {
  margin-bottom: 3.2rem;
}
#tierverständnis .zeit {
  margin-top: 10rem;
  padding: 0 0 4.8rem 4.8rem;
  height: 70vh;
  background: url("assets/hände_mit_blatt.png");
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: start;
}
#tierverständnis .zeit p {
  color: #e9e9e9;
  font-size: 42px;
  font-style: normal;
  font-weight: 400;
  line-height: 4.6rem;
  max-width: 70rem;
  margin-bottom: 2.4rem;
}
#tierverständnis .zeit p:last-of-type {
  margin: 0;
}
#tierverständnis .zeit strong {
  font-family: EquitanSans-Semibold;
}
#tierverständnis .zeit span {
  line-height: 10px;
}

#opening-hours {
  padding: 0 12rem;
}
#opening-hours h1 {
  color: #e9e9e9;
  margin-bottom: 7rem;
}
#opening-hours .time-container {
  height: 70vh;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("assets/hände_herzpose.png");
  background-size: cover;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 7rem;
}
#opening-hours .time-container .weekdays ul {
  padding-left: 0;
  list-style-type: none;
}
#opening-hours .time-container .weekdays ul li {
  font-family: "Equitan Sans Semibold";
  font-size: 4.2rem;
  color: #e9e9e9;
}
#opening-hours .time-container .weekdays ul :nth-child(2) {
  margin: 3rem 0;
}
#opening-hours .time-container .times ul {
  list-style-type: none;
}
#opening-hours .time-container .times ul li {
  font-family: "Equitan Sans Regular";
  font-size: 4.2rem;
  color: #e9e9e9;
  font-feature-settings: "pnum" on, "lnum" on;
  text-align: end;
}
#opening-hours .time-container .times ul :nth-child(2) {
  margin: 3rem 0;
}

#location {
  margin-top: 10rem;
  padding: 0 12rem;
}
#location h1 {
  color: #e9e9e9;
  margin-bottom: 7rem;
}
#location iframe {
  margin-bottom: 24.5rem;
  width: 100%;
}

footer {
  padding: 10rem 12rem 3rem 12rem;
  display: grid;
  grid-template: auto auto auto/1fr 1fr 1fr 1fr;
  background: #8bab54;
}
footer h3 {
  font-family: "Equitan Sans Semibold";
  font-size: 3.2rem;
  color: #e9e9e9;
}
footer p {
  margin: 0;
}
footer .address {
  grid-column: 1/2;
  grid-row: 2/3;
}
footer .contact-options {
  grid-column: 2/3;
  grid-row: 2/3;
}
footer .legal {
  grid-column: 4/5;
  grid-row: 2/3;
  display: flex;
  flex-direction: column;
}
footer .legal a {
  color: #e9e9e9;
  text-decoration: underline;
  font-size: 2.4rem;
}
footer .header {
  grid-row: 1/2;
}
footer .last {
  grid-column: 4/5;
}
footer .attribution {
  margin-top: 10rem;
  display: flex;
  grid-column: 1/5;
  grid-row: 3/4;
  align-items: center;
  flex-direction: column;
}
footer .attribution span {
  margin-top: 3.2rem;
}
footer .attribution a {
  margin: 0 0.5ch;
}
footer .attribution hr {
  width: 100%;
  height: 2px;
  background: #e9e9e9;
  border: none;
  outline: none;
}
footer .attribution span,
footer .attribution a {
  color: #e9e9e9;
  font-family: EquitanSans-SemiBold;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.32px;
}

/*# sourceMappingURL=stylesheet.css.map */
